@import url("https://fonts.googleapis.com/css2?family=Lato&family=Neonderthaw&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap");
@use './variable' as *;
* {
  padding: 0;
  margin: 0;
  word-spacing: -2px;
}

.special-text {
  font-weight: 650;
  font-size: 20px;
  color: #00CDAC;
}

.text-error {
  color: #dd1e1e;
}

.text-success {
  color: #2ecc71 !important;
}

.text-white {
  color: #fcfcfc;
}

.text-bold {
  font-weight: 600;
}

.text-white-sub {
  color: #cfcfcf;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ds-none {
  display: none !important;
}

.toast-upload {
  font-size: 18px;
  padding: 15px;
}

.toast-upload img {
  width: 70px;
  height: auto;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-size: 1920px auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: inherit;
}

input {
  word-spacing: 0;
}

.box-shadow-navbar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-bar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: rgba(254, 250, 252, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
  .side-bar-menu {
    left: -250px;
  }
}

.side-bar-menu-logo {
  padding-left: 25px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.side-bar-menu-logo img {
  width: 120px;
}

.side-bar-menu-list {
  color: #dfdfdf;
}

.side-bar-menu-item {
  padding: 10px 25px;
  color: #dfdfdf;
  font-weight: 600;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
}

@media only screen and (max-width: 740px) {
  .side-bar-menu-item {
    padding: 8px 25px;
  }
}

.side-bar-menu-item span {
  margin-left: 12px;
  font-size: 16px;
}

.side-bar-menu-item:hover {
  padding: 0 -40px;
  background-color: rgba(254, 250, 252, 0.2);
  color: white;
  cursor: pointer;
}

.side-bar-menu-item.active {
  background-color: rgba(254, 250, 252, 0.2);
}

.side-bar-menu .side-bar-hr {
  position: relative;
  margin-top: 30px;
}

.side-bar-menu .side-bar-hr::after {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 80%;
  background-color: rgba(254, 250, 252, 0.3);
  left: 10%;
}

.side-bar-menu-sub-list {
  margin-top: 50px;
}

.side-bar-menu-playlist {
  background-color: #FAD961;
  background-image: linear-gradient(176deg, #FAD961 0%, #F76B1C 100%);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dfdfdf;
}

.side-bar-menu-playlist.rencent {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.side-bar-menu-vip {
  position: absolute;
  bottom: 110px;
  width: 80%;
  left: 10%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  background-color: #c0392b;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.side-bar-menu-vip p {
  padding: 8px;
  color: #dfdfdf;
}

.visible-sidebar {
  left: 0;
  z-index: 6565;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-bar-menu {
  position: fixed;
  left: 250px;
  right: 0;
  height: 80px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .nav-bar-menu {
    left: 0;
  }
}

.nav-bar-menu .menu-icon {
  display: none;
  font-size: 35px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .nav-bar-menu .menu-icon {
    display: block;
  }
}

.nav-bar-menu-search {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-left: 50px;
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 740px) {
  .nav-bar-menu-search {
    display: none;
  }
}

.nav-bar-menu-search input {
  width: 100%;
  height: 35px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 25px;
  color: #dfdfdf;
  font-size: 18px;
  padding-right: 0px;
}

.nav-bar-menu-search input::-webkit-input-placeholder {
  color: #d1cfcf;
  font-size: 14px;
}

.nav-bar-menu-search input:-ms-input-placeholder {
  color: #d1cfcf;
  font-size: 14px;
}

.nav-bar-menu-search input::-ms-input-placeholder {
  color: #d1cfcf;
  font-size: 14px;
}

.nav-bar-menu-search input::placeholder {
  color: #d1cfcf;
  font-size: 14px;
}

.nav-bar-menu-search .search-sub-menu {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 100%;
  background-color: #34495e;
  padding: 0;
  margin: 4px;
}

.nav-bar-menu-search .search-sub-menu li {
  list-style: none;
  width: 100%;
  color: white;
  padding-inline: 25px;
  padding-block: 6px;
  padding-left: 10px;
  cursor: pointer;
}

.nav-bar-menu-search .search-sub-menu li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-bar-menu-search .search-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #dfdfdf;
  font-size: 25px;
  cursor: pointer;
}

.nav-bar-menu-sub {
  color: white;
  font-size: 18px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 740px) {
  .nav-bar-menu-sub {
    margin-right: 10px;
  }
}

.nav-bar-menu-sub-item {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-size: 25px;
  margin-right: 12px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.nav-bar-menu-sub-item img {
  width: 100%;
}

.nav-bar-menu-sub-item:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main-content {
  position: absolute;
  left: 250px;
  top: 80px;
  right: 0;
  padding: 45px;
  z-index: 1;
  bottom: 90px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1024px) {
  .main-content {
    left: 0;
    padding: 15px;
  }
}

@media only screen and (max-width: 740px) {
  .main-content {
    padding: 5px;
  }
}

.main-content::-webkit-scrollbar {
  width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.list-song {
  margin: 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 740px) {
  .list-song {
    margin-left: 0;
    margin-right: 0;
  }
}

.list-song-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-song-item {
  padding: 3px 20px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.list-song-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-song-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 740px) {
  .list-song-item {
    padding: 3px 10px;
  }
}

.list-song .song-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-song .song-item-img .index {
  font-weight: 900;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d41818;
  font-family: 'Roboto Mono', monospace;
}

.list-song .song-item-img-area {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  margin-left: 1.5rem;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
}

.list-song .song-item-img-area img {
  width: 100%;
}

.list-song .song-item-img-area .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.list-song .song-item-img-area .play-btn:hover {
  color: #e0d7d7;
}

.list-song .song-item-img-area .icon-playing {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../../public/img/icon-playing.gif");
  height: 30px;
  width: 35px;
}

.list-song .song-item-img-area .icon-playing.none {
  display: none;
}

.list-song .song-item-img .song-item-infor .song-item-infor-name {
  font-weight: 600;
}

.list-song .song-item-img .song-item-infor .song-item-infor-singer {
  font-size: 14px;
  color: #c7c7c7;
}

.list-song .name {
  color: #eedddd;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

@media only screen and (max-width: 740px) {
  .list-song .name {
    display: none;
  }
}

.list-song .song-item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.list-song .song-item-control .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  color: #e2d5d5;
  margin-right: 0.8rem;
}

.list-song .song-item-control .view .iconn {
  font-size: 1.6rem;
  color: white;
  margin-right: 2px;
}

@media only screen and (max-width: 1024px) {
  .list-song .song-item-control .view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list-song .song-item-control .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.play-music {
  position: fixed;
  bottom: 0;
  height: 90px;
  left: 0;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.play-music .song-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 740px) {
  .play-music .song-item-img {
    -webkit-box-flex: 20% !important;
        -ms-flex: 20% !important;
            flex: 20% !important;
  }
}

.play-music .song-item-img-area {
  width: 55px;
  height: 55px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.8rem;
  margin-left: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .play-music .song-item-img-area {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 740px) {
  .play-music .song-item-img-area {
    width: 42px;
    height: 42px;
    margin-right: 10px;
    margin-left: 0.5rem;
  }
}

.play-music .song-item-img-area img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.play-music .song-item-img-area .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.play-music .song-item-img-area .play-btn:hover {
  color: #e0d7d7;
}

.play-music .song-item-img-area .icon-playing {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../../public/img/icon-playing.gif");
  height: 30px;
  width: 35px;
}

.play-music .song-item-img-area .icon-playing.none {
  display: none;
}

@media only screen and (max-width: 740px) {
  .play-music .song-item-img .song-item-infor {
    display: none;
  }
}

.play-music .song-item-img .song-item-infor .song-item-infor-name {
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.play-music .song-item-img .song-item-infor .song-item-infor-singer {
  color: #c7c7c7;
  font-size: 0.9rem;
}

.play-music .song-item-img .like-infor {
  margin-left: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .play-music .song-item-img .like-infor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}

@media only screen and (max-width: 740px) {
  .play-music .song-item-img .like-infor {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
  }
  .play-music .song-item-img .like-infor .icon {
    font-size: 1.2rem !important;
  }
}

.play-music .song-item-img .like-infor .icon {
  font-size: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.play-music .song-item-img .like-infor .icon:active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.play-music .song-item-img .like-infor .heart-fill {
  color: red;
}

.play-music .song-item-img .like-infor .threedot {
  color: white;
}

.play-music .song-item-img .like-infor .heart-none {
  color: white;
}

.play-music .controller-mid {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  color: white;
  font-size: 25px;
}

.play-music .controller-mid-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.play-music .controller-mid .icon-btn {
  font-size: 2.2rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.play-music .controller-mid .icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.play-music .controller-mid .icon-btn.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.play-music .controller-mid-top {
  margin-top: 25px;
}

@media only screen and (max-width: 1024px) {
  .play-music .controller-mid-top {
    gap: 1.8rem;
  }
}

@media only screen and (max-width: 740px) {
  .play-music .controller-mid-top {
    gap: 1.2rem;
  }
}

.play-music .controller-mid-top .play {
  position: relative;
}

.play-music .controller-mid-top .play:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff6bcb), to(#ffb86c));
  background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  border-radius: 50%;
}

.play-music .controller-mid-top .player-inner {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.play-music .controller-mid-input {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.play-music .controller-mid-input input {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  border-radius: 15px;
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.05s;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.05s;
}

.play-music .controller-mid-input input:hover {
  height: 8px;
  border-radius: 25px;
}

.play-music .controller-mid-input input::-webkit-slider-thumb {
  position: relative;
  z-index: 15;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: lightgray;
  background-color: #8EC5FC;
  background-image: linear-gradient(339deg, #8EC5FC 0%, #E0C3FC 100%);
}

@media only screen and (max-width: 1024px) {
  .play-music .controller-mid-input input::-webkit-slider-thumb {
    opacity: 1;
  }
}

.play-music .controller-mid .current-time {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #dbdada;
}

@media only screen and (max-width: 740px) {
  .play-music .controller-mid .current-time {
    top: 0;
  }
}

.play-music .controller-mid .total-time {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #dbdada;
}

@media only screen and (max-width: 740px) {
  .play-music .controller-mid .total-time {
    top: 0;
  }
}

.play-music .controller-right {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin-left: 45px;
  margin-right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .play-music .controller-right {
    margin-left: 15px !important;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 740px) {
  .play-music .controller-right {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0 !important;
    margin-right: 0;
  }
}

.play-music .controller-right .volumn-slider {
  position: absolute;
  top: -90px;
  right: 10px;
  color: white;
  height: 200%;
}

.play-music .controller-right .volumn-slider.none {
  display: none;
}

.play-music .controller-right .view {
  color: #d8c6c6;
  font-size: 14px;
  font-style: italic;
  margin-right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .play-music .controller-right .view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 740px) {
  .play-music .controller-right .view {
    display: none;
  }
}

.play-music .controller-right .icon-btn {
  cursor: pointer;
  font-size: 2.4rem;
  margin: 5px;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.play-music .controller-right .icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.play-music .controller-right .icon-btn.down {
  width: 36px;
  height: 36px;
  padding: 10px;
}

.play-music .controller-right .icon-btn.active {
  background-color: rgba(254, 204, 230, 0.8);
}

.play-music .controller-right .btn-download {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 740px) {
  .play-music .controller-right .btn-download {
    display: none;
  }
}

.play-music .controller-right .btn-download a {
  color: white;
  text-decoration: none;
}

.play-music .controller-right .btn-download a:hover {
  color: #eeeeee;
}

.upload-song, .upload-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.file-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border: 5px dashed #50e3c2;
  position: relative;
  color: #50e3c2;
  margin-right: 20px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.file-area input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-infor span {
  color: #f7f7f7;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-left: 15px;
  margin-bottom: 3px;
  font-size: 18px;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  padding: 6px 15px;
  border-radius: 10px;
  color: #dfdfdf;
  width: 100%;
}

.form-group .text-white {
  font-size: 18px;
}

.form-group .radio {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #dfdfdf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group .radio label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-group .radio input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  justify-self: flex-start;
  width: 18px;
  height: 18px;
}

.btn-upload {
  background-image: -webkit-gradient(linear, left top, right top, from(#77A1D3), color-stop(51%, #79CBCA), to(#77A1D3));
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
}

.btn-upload {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 10px #eee;
          box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  border: none;
}

.btn-upload:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-upgrade {
  background-image: -webkit-gradient(linear, left top, right top, from(#02AAB0), color-stop(51%, #00CDAC), to(#02AAB0));
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}

.btn-upgrade {
  margin: 10px;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 25px;
  display: block;
  cursor: pointer;
}

.btn-upgrade.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 20px;
  font-size: 14px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.btn-upgrade:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.review-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.me-content {
  position: relative;
}

.me-content .avatar-area {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media only screen and (max-width: 740px) {
  .me-content .avatar-area {
    margin-top: 80px;
  }
}

.me-content .name {
  color: white;
  font-weight: 600;
}

.me-content .story {
  color: white;
}

.me-content-control {
  position: absolute;
  top: 0px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-available {
  color: white;
  text-align: center;
}

.page-available .tittle {
  font-weight: 600;
  width: 400px;
  margin: 30px auto;
  margin-bottom: 0;
}

@media only screen and (max-width: 740px) {
  .page-available .tittle {
    width: 90%;
    font-size: 2rem;
  }
}

.page-available .icon-face {
  font-size: 10rem;
  color: #f39c12;
}

.page-available .icon-login {
  margin-right: 10px;
  font-size: 20px;
}

.page-available a {
  color: #2ecc71;
  font-size: 1.2rem;
}

.page-available a:hover {
  color: #27ae60;
}

.login {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 30px auto;
  padding: 35px 20px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

@media only screen and (max-width: 740px) {
  .login {
    width: 90%;
    padding: 10px 5px;
  }
}

.login h3 {
  font-weight: 700;
}

.login .sub-tittle {
  font-size: 12px;
  padding: 0px 55px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

.word-space-normal {
  word-spacing: 1px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.play-list-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  font-weight: 800;
  word-spacing: -10px;
  margin-left: 10px;
  font-size: 30px;
}

.play-list-content {
  margin-top: 40px;
}

.play-list-content .name {
  font-weight: 550;
}

.play-list p {
  word-spacing: 0px;
  font-family: 'Roboto Mono', monospace;
}

.play-list .create-play-list {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  border-radius: 20px;
  display: block;
  position: relative;
  width: 50%;
  margin: 10px auto;
  height: 50px;
}

.play-list .create-play-list .add-area {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff1f1;
  font-weight: 600;
  font-size: 1.2rem;
}

.play-list .create-play-list .add-area .icon-add {
  margin-right: 5px;
  font-size: 2rem;
}

.play-list .create-play-list:hover .add-area {
  font-size: 1rem;
}

.my-music {
  margin-top: 50px;
}

.my-music .icon {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.my-music .btn-play-all {
  background-image: -webkit-gradient(linear, left top, right top, from(#D31027), color-stop(51%, #EA384D), to(#D31027));
  background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
}

.my-music .btn-play-all {
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 5px #7a7979;
          box-shadow: 0 0 5px #7a7979;
  border-radius: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-list-detail .img {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.play-list-detail .img:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.play-list-detail .name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 650;
  color: white;
}

.play-list-detail .time {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 550;
  color: #f1e3e3;
}

.play-list-detail .empty-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 18px;
  font-style: italic;
}

.play-list-detail .empty-song .icon {
  font-size: 35px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.play-list-detail .icon-play {
  font-size: 30px;
  margin-right: 10px;
}

.play-list-detail .btn-play-all {
  background-image: -webkit-gradient(linear, left top, right top, from(#D31027), color-stop(51%, #EA384D), to(#D31027));
  background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
}

.play-list-detail .btn-play-all {
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 5px #7a7979;
          box-shadow: 0 0 5px #7a7979;
  border-radius: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-list-detail .btn-play-all:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.dialog img {
  border: 1px solid #777 !important;
}

.dialog span {
  font-weight: 650 !important;
}

.tittle-music {
  color: white;
  font-weight: 650;
}

.tittle-music .icon {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-size: 50px;
}

.tittle-music .icon:hover {
  padding: 8px;
}

.set-up-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-spacing: -10px;
  color: white;
}

.set-up-tittle .icon {
  margin-right: 10px;
  color: #f9ca24;
}

.set-up-tittle .checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-left: 10px;
}

.set-up-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 20px;
}

.set-up-content .set-up-content-item {
  color: #eceaea;
}

.set-up-content .set-up-content-item .icon {
  margin-right: 10px;
}

.set-up-content .set-up-content-item .guide {
  font-weight: 650;
  font-size: 20px;
}

.idol-tittle {
  font-size: 2rem;
  color: white;
  font-weight: 650;
}

.idol .story {
  color: white;
  width: 60%;
}

@media only screen and (max-width: 740px) {
  .idol .story {
    width: 100%;
  }
}

.idol .avatar {
  border-radius: 50%;
}

.idol .btn-follow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #7bb9f7;
  background-image: linear-gradient(62deg, #68a0d8 0%, #E0C3FC 100%);
  color: white;
  cursor: pointer;
}

.idol .quantity-follow {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 20px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}
/*# sourceMappingURL=App.css.map */