
@import './variable';
@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Neonderthaw&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');


*{
    padding: 0;
    margin: 0;
    word-spacing:-3px
}
.text-error{
    color: rgb(221, 30, 30);
}
.text-success{
    color: #2ecc71 !important;
}
.text-white{
    color: rgb(252, 252, 252);
}
.text-bold{
    font-weight: 600;
}
.text-white-sub{
    color: rgb(207, 207, 207);
}
.flex{
    display: flex;
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ds-none{
    display: none !important;
}
.toast-upload{
    font-size: 18px;
    padding: 15px;
    img{
        width: 70px;
        height: auto;
    }
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-size: 1920px auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: inherit;
}
input{
    word-spacing: 0;
}
.box-shadow-navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-size: cover;
    background-repeat: no-repeat;
}
.side-bar-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $widthSideBar;
    background-color: rgba(254, 250, 252, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: 0.2s;
    @include tablet{
        left: -250px;
    }
    &-logo{
        padding-left: 25px;
        img{
            width: 120px;
        }
        margin-bottom: 30px;
        margin-top: 40px;
    }
    &-list{
        color: $white;
    }
    &-item{
        padding: 12px 25px;
        color: $white;
        font-weight: 600;
        font-size: 24px;
        display: flex;
        align-items: center;
        transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 0.15s;
        @include mobile{
            padding: 8px 25px;
        }
        span{
            margin-left: 12px;
            font-size: 16px;
        }
        &:hover{
            padding: 0 -40px;
            background-color: rgba(254, 250, 252, 0.2);
            color: white;
            cursor: pointer;
        }
    }
    .side-bar-hr{
        position: relative;
        margin-top: 30px;
        &::after{
            content: "";
            position: absolute;
            height: 0.5px;
            width: 80%;
            background-color: rgba(254, 250, 252, 0.3);
            left: 10%;
        }
    }
    &-sub-list{
        margin-top: 50px;
    }
    &-playlist{
        background-color: #FAD961;
        background-image: linear-gradient(176deg, #FAD961 0%, #F76B1C 100%);
        border-radius: 5px;
        width: 35px;
        height: 35px;
        @include flexContent();
        color: $white;
    }
    &-playlist.rencent{
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

    }
    &-vip{
        position: absolute;
        bottom: 110px;
        width: 80%;
        left: 10%;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        background-color: #c0392b;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        user-select: none;
        p{
            padding: 8px;
            color: $white;
        }
    }
}
.visible-sidebar{
    left: 0;
    z-index: 6565;
    background-color: rgba(0,0,0,0.8);
}
.nav-bar-menu{
    position: fixed;
    left: $widthSideBar;
    right: 0;
    height: $heightSideBar;
    z-index: 2;
    @include flexContent(space-between,center);
    @include tablet(){
        left: 0;
    }
    .menu-icon{
        display: none;
        font-size: 35px;
        color: white;
        margin-left: 15px;
        cursor: pointer;
        @include tablet{
            display: block
        }
    }
    &-search{
        flex-basis: 40%;
        margin-left: 50px;
        position: relative;
        @include mobile{
            display: none;
        }
        input{
            width: 100%;
            height: 35px;
            border-radius: 40px;
            border: none;
            outline: none;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 8px 25px;
            color: $white;
            font-size: 18px;
            padding-right: 0px;
            &::placeholder{
                color: rgb(209, 207, 207);
                font-size: 14px;
            }
        }
        .search-icon{
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            color: $white;
            font-size: 25px;
            cursor: pointer;

        }
    }
    
    &-sub{
        color: white;
        font-size: 18px;
        flex-basis: 30%;
        display: flex;
        margin-right: 50px;
        justify-content: flex-end;
        @include mobile{
            margin-right: 10px;
        }
        &-item{
            width: 3rem;
            height: 3rem;
            @include flexContent();
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            font-size: 25px;
            margin-right: 12px;
            overflow: hidden;
            transition: 0.2s;
            cursor: pointer;
            img{
                width: 100%;
            }
            &:active{
                transform: scale(0.9);
            }
        }
    }
}

.main-content{
    position: absolute;
    left: $widthSideBar;
    top: $heightSideBar;
    right:0;
    padding: 45px;
    z-index: 1;
    bottom: $heightPlayMusic;
    overflow-y: scroll;
    @include tablet(){
        left: 0;
        padding: 15px;
    }
    @include mobile(){
        padding: 5px;
    }
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background-color:$white-alpha-30;
        border-radius: 10px;
    }

}
.list-song{
    margin: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    @include mobile{
        margin-left: 0;
        margin-right:0;
    }
    &-item{
        @include flexContent();
        justify-content: space-between;

    }
    &-item{
        padding: 3px 20px;
        border-radius: 3px;
        margin-bottom: 5px;
        &:hover{
            background-color: $white-alpha;
        }
        &.active{
            background-color: $white-alpha;
        }
        @include mobile{
            padding: 3px 10px;
        }
    }
    .song-item-img{
        display: flex;
        flex: 50%;
        align-items: center;
        .index{
            font-weight: 900;
            font-size: 3rem;
            color: rgba(255, 255, 255, 0.0);
            user-select: none;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: rgb(212, 24, 24);
            font-family: 'Roboto Mono', monospace;;
        }
        &-area{
            width: 50px;
            height: 50px;
            overflow: hidden;
            @include flexContent();
            margin-right: 1rem;
            margin-left: 1.5rem;
            border-radius: 5px;
            font-size: 16px;
            position: relative;
            img{
                width: 100%;
            }
            .play-btn{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                visibility: hidden;
                cursor: pointer;
                color: white;
                font-size: 24px;
                &:hover{
                    color: rgb(224, 215, 215);
                }
            }
            .icon-playing{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-image: url('../../public/img/icon-playing.gif');
                height: 30px;
                width: 35px;
                &.none{
                    display: none;
                }
            }
        }
        .song-item-infor{
            .song-item-infor-name{
                font-weight: 600;
            }
            .song-item-infor-singer{
                font-size: 14px;
                color: rgb(199, 199, 199);
            }
        }
    }
    .name{
        color: rgb(238, 221, 221);
        flex: 30%;
        @include mobile{
            display: none;
        }
    }
    .song-item-control{
        display: flex;
        justify-content: flex-end;
        flex: 20%;
        font-size: 18px;
        align-items: center;
        cursor: pointer;
        .view{
            @include flexContent();
            font-size: 14px;
            font-style: italic;
            font-weight: 300;
            color: rgb(226, 213, 213);
            margin-right: 0.8rem;
            .iconn{
                font-size: 1.6rem;
                color:white;
                margin-right: 2px;
            }
            @include tablet(){
                flex-direction: column;
                align-items: center;
                justify-content: center
            }
        }
        .icon{
            @include flexContent();
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $white-alpha;
            flex-shrink: 0;
        }
    }
}
.play-music{
    position: fixed;
    bottom: 0;
    height: $heightPlayMusic;
    left: 0;
    width: 100%;
    background-size: cover;
    display: flex;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    .song-item-img{
        display: flex;
        flex: 30%;
        align-items: center;
        position: relative;
        @include mobile(){
            flex: 20% !important;
        }
        &-area{
            width: 55px;
            height: 55px;
            overflow: hidden;
            @include flexContent();
            margin-right: 0.8rem;
            margin-left: 2rem;
            border-radius: 5px;
            font-size: 1rem;
            position: relative;
            @include tablet{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                margin-left: 0.5rem;
            }
            @include mobile(){
                width: 42px;
                height: 42px;
                margin-right: 10px;
                margin-left: 0.5rem;
            }
            img{
                flex-shrink: 0;
                width: 100%;
            }
            .play-btn{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                visibility: hidden;
                cursor: pointer;
                color: white;
                font-size: 24px;
                &:hover{
                    color: rgb(224, 215, 215);
                }
            }
            .icon-playing{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-image: url('../../public/img/icon-playing.gif');
                height: 30px;
                width: 35px;
                &.none{
                    display: none;
                }
            }
        }
        .song-item-infor{
            @include mobile{
                display: none;
            }
            .song-item-infor-name{
                font-weight: 600;
                color: white;
                font-size: 1rem;
            }
            .song-item-infor-singer{
                color: rgb(199, 199, 199);
                font-size: 0.9rem;
            }
        }
        .like-infor{
            margin-left: 1.2rem;
            @include flexContent();
            @include tablet{
                flex-direction: column;
                gap: 8px;
            }
            @include mobile{
                margin-left: 0.5rem;
                margin-right: 0.3rem;
                .icon{
                    font-size: 1.2rem !important;
                }
            }
            .icon{
                font-size: 1.8rem;
                margin-right: 1rem;
                cursor: pointer;
                transition: 0.2s;
                &:active{
                    transform: scale(0.5);
                }
            }
            .heart-fill{
                color: red;
            }
            .threedot{
                color: white;
            }
            .heart-none{
                color: white;
            }
        }
    }
    .controller-mid{
        flex: 40%;
        @include flexContent();
        flex-direction: column;
        gap: 5px;
        color: white;
        font-size: 25px;
        &-top{
            @include flexContent();
            gap: 2rem;
        }
        .icon-btn{
            font-size: 2.2rem;
            padding: 5px;
            cursor: pointer;
            border-radius: 50%;
            &:hover{
                background-color: $white-alpha;
            }
            &.active{
                background-color: $white-alpha-30;
            }
        }
        &-top{
            margin-top: 25px;
            @include tablet{
                gap: 1.8rem;
            }
            @include mobile{
                gap: 1.2rem;
            }
            .play {
                position: relative;
            }
            .play:before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
                transform: scale(1.6);
                border-radius: 50%;
            }
            .player-inner {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                font-size: 20px;
                position: relative;
                z-index: 2;
            }
        }
        &-input{
            width: 100%;
            margin-bottom: 20px;
            position: relative;
            input{
                width: 100%;
                -webkit-appearance: none;
                height: 4px;
                background-color: $white-alpha-30;
                border: none;
                outline: none;
                border-radius: 15px;
                position: relative;
                padding: 0;
                margin: 0;
                transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.05s;
                &:hover{
                    height: 8px;
                    border-radius: 25px;
                }
                &::-webkit-slider-thumb{
                    position: relative;
                    z-index: 15;
                    -webkit-appearance: none;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: rgb(211, 211, 211);
                    background-color: #8EC5FC;
                    background-image: linear-gradient(339deg, #8EC5FC 0%, #E0C3FC 100%);


                }
                @include tablet(){
                    &::-webkit-slider-thumb{
                        opacity: 1;
                    }
                }
            }
        }
        .current-time{
            position: absolute;
            top: -5px;
            left: 0;
            font-size: 0.9rem;;
            user-select: none;
            color: rgb(219, 218, 218);
            @include mobile{
                top: 0;
            }
        }
        .total-time{
            position: absolute;
            top: -5px;
            right: 0;
            font-size: 0.9rem;
            user-select: none;
            color: rgb(219, 218, 218);
            @include mobile{
                top: 0;
            }
        }
    }
    .controller-right{
        flex: 30%;
        margin-left: 45px;
        margin-right: 45px;
        @include flexContent();
        justify-content: flex-end;
        position: relative;
        @include tablet{
            margin-left: 15px !important;
            margin-right: 15px;
        }
        @include mobile{
            flex:20%;
            justify-content: center;
            margin-left: 0 !important;
            margin-right: 0;
        }
        .volumn-slider{
            position: absolute ;
            top: -90px;
            right:10px;
            color:white;
            height: 200%;
            &.none{
                display: none;
            }
        }
        .view{
            color: rgb(216, 198, 198);
            font-size: 14px;
            font-style: italic;
            margin-right: 1.2rem;
            @include flexContent();
            @include tablet{
                flex-direction: column;
            }
            @include mobile{
                display: none;
            }
        }
        .icon-btn{
            cursor: pointer;
            font-size: 2.4rem;
            margin: 5px;
            color: white;
            padding: 5px;
            border-radius: 50%;
            &:hover{
                background-color: $white-alpha;
            }
            &.down{
                width: 36px;
                height: 36px;
                padding: 10px
            }
            &.active{
                background-color: rgba(254, 204, 230, 0.8);
            }
        }
        .btn-download{
            background-color: #0093E9;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
            font-size: 0.8rem;
            font-weight: 600;
            padding: 5px 8px;
            cursor: pointer;
            border-radius: 5px;
            margin-right: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            color: white;
            width: fit-content;
            @include mobile{
                display: none;
            }
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color:#eeeeee
                }
            }
        }

    }
}
.upload-song,.upload-image{
    @include flexContent();
    margin-bottom: 20px;
}
.file-area{
    @include flexContent();
    width: 150px;
    height: 150px;
    border: 5px dashed $green;
    position: relative;
    color:$green;
    margin-right: 20px;
    flex-basis: 40%;
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}
.file-infor{
    span{
        color: rgb(247, 247, 247);
    }
}
.form-group{
    margin-bottom: 20px;
    label{
        margin-left: 15px;
        margin-bottom: 3px;
        font-size: 18px;
    }
    input{
        background-color: $white-alpha-30;
        border: none;
        outline: none;
        padding: 6px 15px;
        border-radius: 10px;
        color: $white;
        width: 100%;
    }
    .text-white{
        font-size: 18px;
    }
    .radio{
        margin-left: 25px;
        display: flex;
        color: $white;
        align-items: center;
        label{
            flex: 1;
        }
        input{
            flex: 2;
            justify-self: flex-start;
            width: 18px;
            height: 18px;
        }
    }
}
.btn-upload {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.btn-upload {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    width: fit-content;
    outline: none;
    border:none
}
.btn-upload:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.btn-upgrade {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-upgrade {
    margin: 10px;
    padding: 8px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 25px;
    display: block;
    cursor: pointer;
    &.logout{
        @include flexContent();
        padding: 3px 20px;
        font-size: 14px;
        background-image: none;
        background-color: $white-alpha-30 !important;
    }
}
.btn-upgrade:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.review-image{
    @include flexContent();
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.me-content{
    position: relative;
    .avatar-area{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        @include mobile{
            margin-top: 80px;
        }
    }
    .name{
        color: white;
        font-weight: 600;
    }
    &-control{
        position: absolute;
        top: 0px;
        right: 0;
        display: flex;
    }
}
.page-available{
    color: white;
    text-align: center;
    .tittle{
        font-weight: 600;
        width: 400px;
        margin: 30px auto;
        margin-bottom: 0;
        @include mobile{
            width: 90%;
            font-size: 2rem;
        }
    }
    .icon-face{
        font-size: 10rem;
        color: #f39c12;
    }
    .icon-login{
        margin-right: 10px;
        font-size: 20px;
    }
    a{
        color: #2ecc71;
        font-size: 1.2rem;
        &:hover{
            color:#27ae60
        }
    }
}
.login{
    width: 400px;
    background-color: $white-alpha-20;
    margin: 30px auto;
    padding: 35px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    @include mobile{
        width: 90%;
        padding: 10px 5px;
    }
    h3{
        font-weight: 700;
    }
    .sub-tittle{
        font-size: 12px;
        padding: 0px 55px;
        margin-bottom: 50px;
    }
}
a{
    text-decoration: none;
}
.word-space-normal{
    word-spacing: 1px !important;
}
.fs-20{
    font-size: 20px !important;
}
.play-list{
    &-tittle{
        @include flexContent();
        user-select: none;
        justify-content: flex-start;
        color: white;
        font-weight: 800;
        word-spacing: -10px;
        margin-left: 10px;
        font-size: 30px;
    }
    &-content{
        margin-top: 40px;
        .name{
            font-weight: 550;
        }
    }
    p{
        word-spacing: 0px;
        font-family: 'Roboto Mono', monospace;
    }
    .create-play-list{
        background-color: #FA8BFF;
        background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
        border-radius: 20px;
        display: block;
        position: relative;
        width: 260px;
        .add-area{
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: fit-content;
            color: rgb(255, 241, 241);
            font-weight: 600;
            font-size: 1.2rem;
            .icon-add{
                margin-right: 5px;
                font-size: 2rem;
            }
        }
        &:hover .add-area{
            font-size: 1rem;
        }
    }
}
.play-list-detail{
    .img{
        width: 100%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover{
            transform: scale(0.99);
        }
    }
    .name{
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 650;
        color: white;
    }
    .time{
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 550;
        color: rgb(241, 227, 227);
    }
    .empty-song{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px 15px;
        text-align: center;
        background-color: $white-alpha-20;
        border-radius: 10px;
        font-size: 18px;
        font-style: italic;
        .icon{
            font-size: 35px;
            margin-right: 10px;
            color: $white-alpha-30;
        }
    }
    .icon-play{
        font-size: 30px;
        margin-right: 10px;
    }
    .btn-play-all {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
    .btn-play-all {
        margin: 10px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 5px rgb(122, 121, 121);
        border-radius: 10px;
        display: block;
        width: fit-content;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

        .btn-play-all:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
}
.dialog{
    img{
        border: 1px solid #777 !important;
    }
    span{
        font-weight: 650 !important;
    }
}
@media (max-width:1024px){
    html{
        font-size: 15px;

    }
}
@media (max-width:1024px){
    html{
        font-size: 13px;

    }
}