@import url("https://fonts.googleapis.com/css2?family=Lato&family=Neonderthaw&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap");
@use './variable' as *;
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-size: 1920px auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.box-shadow-navbar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-bar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: rgba(254, 250, 252, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media only screen and (max-width: 740px) {
  .side-bar-menu {
    width: 80px;
  }
}

.side-bar-menu-logo {
  padding-left: 25px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.side-bar-menu-logo img {
  width: 120px;
}

.side-bar-menu-list {
  color: #dfdfdf;
}

.side-bar-menu-item {
  padding: 12px 25px;
  color: #dfdfdf;
  font-weight: 600;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
}

.side-bar-menu-item span {
  margin-left: 12px;
  font-size: 16px;
}

.side-bar-menu-item:hover {
  padding: 0 -40px;
  background-color: rgba(254, 250, 252, 0.2);
  color: white;
  cursor: pointer;
}

.side-bar-menu .side-bar-hr {
  position: relative;
  margin-top: 30px;
}

.side-bar-menu .side-bar-hr::after {
  content: "";
  position: absolute;
  height: 0.5px;
  width: 80%;
  background-color: rgba(254, 250, 252, 0.3);
  left: 10%;
}

.side-bar-menu-sub-list {
  margin-top: 50px;
}

.side-bar-menu-playlist {
  background-color: #FAD961;
  background-image: linear-gradient(176deg, #FAD961 0%, #F76B1C 100%);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dfdfdf;
}

.side-bar-menu-playlist.rencent {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.side-bar-menu-vip {
  position: absolute;
  bottom: 100px;
  width: 80%;
  left: 10%;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  background-color: #c0392b;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.side-bar-menu-vip p {
  padding: 8px;
  color: #dfdfdf;
}

.side-bar-menu-vip .btn-upgrade {
  background-image: -webkit-gradient(linear, left top, right top, from(#02AAB0), color-stop(51%, #00CDAC), to(#02AAB0));
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
}

.side-bar-menu-vip .btn-upgrade {
  margin: 10px;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 25px;
  display: block;
  cursor: pointer;
}

.side-bar-menu-vip .btn-upgrade:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.nav-bar-menu {
  position: fixed;
  left: 250px;
  right: 0;
  height: 80px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 740px) {
  .nav-bar-menu {
    left: 80px;
  }
}

.nav-bar-menu-search {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-left: 50px;
  position: relative;
}

.nav-bar-menu-search input {
  width: 100%;
  height: 35px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 25px;
  color: #dfdfdf;
  font-size: 18px;
  padding-right: 0px;
}

.nav-bar-menu-search input::-webkit-input-placeholder {
  color: #d1cfcf;
  font-size: 18px;
}

.nav-bar-menu-search input:-ms-input-placeholder {
  color: #d1cfcf;
  font-size: 18px;
}

.nav-bar-menu-search input::-ms-input-placeholder {
  color: #d1cfcf;
  font-size: 18px;
}

.nav-bar-menu-search input::placeholder {
  color: #d1cfcf;
  font-size: 18px;
}

.nav-bar-menu-search .search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #dfdfdf;
  font-size: 25px;
  cursor: pointer;
}

.nav-bar-menu-sub {
  color: white;
  font-size: 18px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar-menu-sub-item {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-size: 25px;
  margin-right: 12px;
  overflow: hidden;
  cursor: pointer;
}

.nav-bar-menu-sub-item img {
  width: 100%;
}

.main-content {
  position: absolute;
  left: 250px;
  top: 80px;
  right: 0;
  padding: 45px;
  z-index: 1;
  bottom: 0;
  overflow-y: scroll;
}

@media only screen and (max-width: 740px) {
  .main-content {
    left: 80px;
  }
}

.list-song {
  margin: 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-song-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-song-item {
  padding: 3px 20px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.list-song-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-song-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-song .song-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-song .song-item-img .index {
  font-weight: 900;
  font-size: 56px;
  color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #d41818;
  font-family: 'Roboto Mono', monospace;
}

.list-song .song-item-img-area {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  margin-left: 45px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
}

.list-song .song-item-img-area img {
  width: 100%;
}

.list-song .song-item-img-area .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.list-song .song-item-img-area .play-btn:hover {
  color: #e0d7d7;
}

.list-song .song-item-img .song-item-infor .song-item-infor-name {
  font-weight: 600;
}

.list-song .song-item-img .song-item-infor .song-item-infor-singer {
  font-size: 14px;
  color: #c7c7c7;
}

.list-song .name {
  color: #eedddd;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.list-song .song-item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  font-size: 18px;
  cursor: pointer;
}

.list-song .song-item-control .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.play-music {
  position: fixed;
  bottom: 0;
  height: 90px;
  left: 0;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.play-music .song-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-music .song-item-img .index {
  font-weight: 900;
  font-size: 56px;
  color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #d41818;
  font-family: 'Roboto Mono', monospace;
}

.play-music .song-item-img-area {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  margin-left: 45px;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
}

.play-music .song-item-img-area img {
  width: 100%;
}

.play-music .song-item-img-area .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.play-music .song-item-img-area .play-btn:hover {
  color: #e0d7d7;
}

.play-music .song-item-img .song-item-infor .song-item-infor-name {
  font-weight: 600;
  color: white;
}

.play-music .song-item-img .song-item-infor .song-item-infor-singer {
  color: #c7c7c7;
  font-size: 14px;
}

.play-music .controller-mid {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  color: white;
  font-size: 25px;
}

.play-music .controller-mid-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.play-music .controller-mid .icon-btn {
  cursor: pointer;
}

.play-music .controller-mid-top {
  margin-top: 25px;
}

.play-music .controller-mid-top .play {
  position: relative;
}

.play-music .controller-mid-top .play:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff6bcb), to(#ffb86c));
  background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  border-radius: 50%;
}

.play-music .controller-mid-top .player-inner {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.play-music .controller-mid-input {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.play-music .controller-mid-input input {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  border-radius: 15px;
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.05s;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.05s;
}

.play-music .controller-mid-input input:hover {
  height: 8px;
  border-radius: 25px;
}

.play-music .controller-mid-input input::-webkit-slider-thumb {
  position: relative;
  z-index: 15;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: lightgray;
  background-color: #8EC5FC;
  background-image: linear-gradient(339deg, #8EC5FC 0%, #E0C3FC 100%);
}

@media only screen and (max-width: 1024px) {
  .play-music .controller-mid-input input::-webkit-slider-thumb {
    opacity: 1;
  }
}

.play-music .controller-mid .current-time {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.play-music .controller-mid .total-time {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.play-music .controller-right {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.cover-layer {
  position: absolute;
  background-color: #f51919;
  z-index: 11;
}
/*# sourceMappingURL=App.css.map */